<ion-header>
    <ion-toolbar>
        <ion-title>Encuesta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div padding *ngIf="newversion">
        <ion-button (click)="actualizar()" expand="full" size="small" shape="round" color="warning">
            <ion-icon name="settings" slot="start"></ion-icon>
            Actualizar APP</ion-button>

    </div>

    <div padding>
        <ion-button (click)="onClick()" expand="full" size="large" shape="round" color="success">
            <ion-icon name="document-text" slot="start"></ion-icon>
            Agregar Encuesta</ion-button>

    </div>

    <ion-list>

        <ion-card *ngFor="let encuestas of encuestas">

            <ion-item>
                <!-- color="{{turnos.colorult}}" -->
                <div slot="start">
                    <!-- <ion-badge (click)="prueba(clientes)" color="success">{{clientes.ruta}}</ion-badge> -->
                    <ion-avatar>
                        <ion-img src="/assets/avatars/doctor1.png"></ion-img>
                    </ion-avatar>
                </div>
                <!-- <ion-card-title>{{clientes.nombre | uppercase}}</ion-card-title> -->
                <div class="details">
                    <ion-label>
                        <h3>{{encuestas.name | uppercase}} </h3>
                        <p>{{encuestas.date | date:"medium"}} </p>
                        <!-- <p>Fecha Inicio: {{turnos.hiniciou | date:"medium"}}</p>
                        <p>Fecha Fin: {{turnos.hendu | date:"medium"}}</p> -->
                    </ion-label>
                </div>
                <div slot="end">
                    <div>
                        <!-- <ion-icon name="{{ btoogle === false ? 'mic' : 'mic-off'}}" slot="start"></ion-icon> -->
                        <ion-badge color="{{ encuestas.alerta === false ? 'success' : 'warning'}}">
                            <ion-icon name="{{ encuestas.alerta === false ? 'checkmark-done-sharp' : 'warning-sharp'}}"></ion-icon>
                        </ion-badge>
                    </div>
                </div>
            </ion-item>
        </ion-card>
    </ion-list>


</ion-content>