<ion-tabs>
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="visitantes">
            <ion-icon name="body-outline"></ion-icon>
            <ion-label>Visitantes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="encuesta">
            <ion-icon name="fitness-outline"></ion-icon>
            <ion-label>Autoencuesta</ion-label>
        </ion-tab-button>

        <!-- <ion-tab-button tab="tab1">
            <ion-icon name="reader-outline"></ion-icon>
            <ion-label>Notas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="today-outline"></ion-icon>
            <ion-label>Turnos</ion-label>
        </ion-tab-button> -->

        <ion-tab-button tab="tab3">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Perfil</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>