<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Perfil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <form onsubmit="processForm(event)">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
                <ion-label position="stacked">Nombre
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required disabled type="text" [(ngModel)]="usuario.name" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Email
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required disabled type="text" [(ngModel)]="usuario.email" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Cliente
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required disabled type="text" [(ngModel)]="usuario.cliente" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>



        </ion-list>

        <div class="ion-padding">
            <ion-button expand="block" (click)="cerrar()" class="ion-no-margin">Cerrar Sesión</ion-button>
        </div>
    </form>

</ion-content>