.singature {
    .singature {
        canvas {
            border: 1px dashed #333333;
        }
    }
}

.punteado {
    border-style: dotted;
    border-width: 1px;
    border-color: 660033;
    background-color: cc3366;
    font-family: verdana, arial;
    font-size: 10pt;
}