<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Firmas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h6>{{ nombre}}</h6>
    <div class="punteado">
        <signature-pad #singature [options]="signaturePadOptions" id="signatureConvas" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
    </div>
    <div>
        <ion-button color="dark" (click)="borrar()">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button color="success" (click)="guardar()">
            <ion-icon slot="icon-only" name="save-outline"></ion-icon>
        </ion-button>

    </div>

    <ion-avatar>
        <img [src]="imagen">
    </ion-avatar>


</ion-content>