<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title>Nota Turno</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-item>
            <ion-icon name="fitness-outline" slot="start"></ion-icon>
            <ion-label>TOMA SIGNOS VITALES</ion-label>
            <ion-button (click)="addsignos()" fill="outline" slot="end">+</ion-button>
        </ion-item>

        <ion-card-content>
            <p *ngFor="let signosvs of signosvs">
                {{signosvs.date | date:"shortTime" }} T/A: {{signosvs.ta }} F.C: {{signosvs.fc }} F.R: {{signosvs.fr }} T: {{signosvs.t }} SA02: {{signosvs.sa02 }}
            </p>
        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-item>
            <ion-icon name="trending-down-outline" slot="start"></ion-icon>
            <ion-label>LIQUIDOS ADMINISTRADOS</ion-label>
            <ion-button (click)="liquidin()" fill="outline" slot="end">+</ion-button>
        </ion-item>
        <ion-card-content>
            <p *ngFor="let liquiins of liquiins">
                {{liquiins.date | date:"shortTime" }} Tipo: {{liquiins.tipo }} Total: {{liquiins.total }}
            </p>
        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-item>
            <ion-icon name="trending-up-outline" slot="start"></ion-icon>
            <ion-label>LIQUIDOS ELIMINADOS</ion-label>
            <ion-button (click)="liquiout()" fill="outline" slot="end">+</ion-button>
        </ion-item>

        <ion-card-content>
            <p *ngFor="let liquiiouts of liquiiouts">
                {{liquiiouts.date | date:"shortTime" }} Tipo: {{liquiiouts.tipo }} Total: {{liquiiouts.total }}
            </p>
        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-item>
            <ion-icon name="eyedrop-outline" slot="start"></ion-icon>
            <ion-label>MEDICACION</ion-label>
            <ion-button (click)="medicina()" fill="outline" slot="end">+</ion-button>
        </ion-item>

        <ion-card-content>
            <p *ngFor="let medicamentos of medicamentos">
                {{medicamentos.date | date:"shortTime" }} Medic: {{medicamentos.medicamento }} Via: {{medicamentos.via }} Dosis: {{medicamentos.dosis }}
            </p>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <!-- Textarea with custom number of rows and cols -->
        <ion-item>
            <ion-label>Notas</ion-label>
            <ion-textarea [(ngModel)]='notaenfer.nota' rows="6" cols="20" placeholder="Introduzca sus notas..."></ion-textarea>
        </ion-item>
    </ion-card>
    <ion-row>
        <ion-col>
            <img [src]="notaenfer.firmapro" width="150" height="50" />
        </ion-col>
        <ion-col>
            <img [src]="notaenfer.firmafam" width="150" height="50" />
        </ion-col>
    </ion-row>
    <div>
        <ion-row>
            <ion-col>
                <ion-button (click)="firmaprefesional()" expand="full" shape="round" color="dark">
                    <ion-icon name="person-circle-outline" slot="start"></ion-icon>
                    Firma Prof.
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="firmafamiliar()" expand="full" shape="round" color="dark">
                    <ion-icon name="people-circle-outline" slot="start"></ion-icon>
                    Firma Fami.
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
    <div padding>
        <ion-button (click)="estadoturno()" expand="full" size="large" shape="round" color="{{ initturno === false ? 'primary' : 'success'}}">
            <ion-icon name="{{ initturno === false ? 'alarm-outline' : 'checkmark-done-outline'}}" slot="start"></ion-icon>
            {{ initturno === false ? 'INICIAR TURNO' : 'FINALIZAR TURNO'}}</ion-button>
    </div>
</ion-content>