<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Notas Finalizadas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>

        <ion-card *ngFor="let turnos of turnos">

            <ion-item>
                <div slot="start">
                    <!-- <ion-badge (click)="prueba(clientes)" color="success">{{clientes.ruta}}</ion-badge> -->
                    <ion-avatar>
                        <ion-img src="/assets/avatars/av-1.png"></ion-img>
                    </ion-avatar>
                </div>
                <!-- <ion-card-title>{{clientes.nombre | uppercase}}</ion-card-title> -->
                <div class="details">
                    <ion-label>
                        <h3>{{turnos.nompaciente | uppercase}} </h3>
                        <p>Direccion: {{turnos.direccionpac}} </p>
                        <p>Fecha Inicio: {{turnos.hiniciou | date:"medium"}}</p>
                        <p>Fecha Fin: {{turnos.hendu | date:"medium"}}</p>
                    </ion-label>
                </div>
                <div slot="end">
                    <div>
                    </div>
                </div>
            </ion-item>
        </ion-card>
    </ion-list>



</ion-content>