<ion-header>
    <ion-toolbar>
        <ion-title>Visitantes</ion-title>
    </ion-toolbar>
</ion-header>



<ion-content>
    <form #f="ngForm" (ngSubmit)="encuestac(f)">
        <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

                <ion-list lines="none">

                    <div padding>

                        <ion-button expand="full" size="small" shape="round" color="success" (click)="goToBarcodeScan()">
                            <ion-icon name="scan-circle"></ion-icon> Escanner</ion-button>

                        <ion-item>
                            <ion-label position="stacked">Nombre</ion-label>
                            <ion-input type="text" [(ngModel)]="encuestabio.name" name="name" required placeholder="Digite el Nombre" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Idenficacion</ion-label>
                            <ion-input type="number" [(ngModel)]="encuestabio.identificacion" name="idente" required placeholder="Identificación" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Telefono</ion-label>
                            <ion-input type="number" [(ngModel)]="encuestabio.phone" name="phone" required placeholder="Telefono" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Email</ion-label>
                            <ion-input type="email" [(ngModel)]="encuestabio.emailclient" name="emailclient" required placeholder="Email" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">TEMPERATURA c°</ion-label>
                            <ion-input type="number" [(ngModel)]="encuestabio.temperatura" name="temperatura" required placeholder="Digite Su temperatura C°"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>¿Ha tenido usted alguno de estos síntomas?</ion-label>
                        </ion-item>
                        <ion-row>
                            <ion-col col-6>
                                <ion-item>
                                    <ion-label>Tos</ion-label>
                                    <ion-checkbox slot="start" [(ngModel)]="encuestabio.tos" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                                </ion-item>
                            </ion-col>
                            <ion-col col-6>
                                <ion-item>
                                    <ion-label>Dif. Repirar</ion-label>
                                    <ion-checkbox slot="start" [(ngModel)]="encuestabio.drespirar" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <ion-item>
                                    <ion-label>Dol. Cab.</ion-label>
                                    <ion-checkbox slot="start" [(ngModel)]="encuestabio.dolorcabeza" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                                </ion-item>
                            </ion-col>
                            <ion-col col-6>
                                <ion-item>
                                    <ion-label>Dol. Garg.</ion-label>
                                    <ion-checkbox slot="start" [(ngModel)]="encuestabio.dolorgarganta" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-item>
                            <ion-label>Perdida Gusto y/o Sabor </ion-label>
                            <ion-checkbox slot="start" [(ngModel)]="encuestabio.fatiga" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <ion-label>Ninguno De los Anteriores </ion-label>
                            <ion-checkbox slot="start" [(ngModel)]="encuestabio.ninguno" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <ion-label>Viajes Al Exterior*</ion-label>
                        </ion-item>
                        <ion-row>
                            <ion-item>
                                <ion-checkbox [(ngModel)]="salirsi" name="salisi" (ionChange)="salirsie($event)"></ion-checkbox>
                                <ion-label>SI</ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-checkbox [(ngModel)]="salirno" name="salino" (ionChange)="salirnoe($event)"></ion-checkbox>
                                <ion-label>NO</ion-label>
                            </ion-item>
                        </ion-row>

                        <ion-label>¿Ha tenido contacto con alguna persona que tenga o sea sospechosa de tener C0V1D-19? * </ion-label>
                        <ion-row>
                            <ion-item>
                                <ion-checkbox [(ngModel)]="vcovidsi" name="vcovidsii" (ionChange)="vcovidsie($event)"></ion-checkbox>
                                <ion-label>SI</ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-checkbox [(ngModel)]="vcovidno" name="vcovidnoi" (ionChange)="vcovidnoe($event)"></ion-checkbox>
                                <ion-label>NO</ion-label>
                            </ion-item>
                        </ion-row>
                    </div>

                    <div padding>
                        <ion-button type="submit" [disabled]="f.invalid" expand="full" size="large" shape="round" color="success">
                            GUARDAR</ion-button>
                    </div>

                    <!-- <button ion-button type="submit" block>Add Todo</button> -->

                    <!-- <ion-item class="password">
                <ion-label class="d-flex" position="stacked">{{'password' | translate}}<span class="end">{{'forgot' | translate}}</span></ion-label>
                <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
            </ion-item> -->

                </ion-list>
            </ion-col>
        </ion-row>


    </form>




</ion-content>

<!-- <ion-content>
    <ion-card class="welcome-card">

        <ion-card-header>
            <ion-card-subtitle>Get Started</ion-card-subtitle>
            <ion-card-title> QR Code and Barcode </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            
            
            <p>Cedula: {{cedula}}</p>
            <p>Apellido1: {{apellido1}}</p>
            <p>Apellido2: {{apellido2}}</p>
            <p>Nombre1: {{nombre1}}</p>
            <p>Nombre2: {{nombre2}}</p>
            <p>FechaNac: {{fechnac}}</p>
            <p>Sangre: {{sangre}}</p>
            <p>Sexo: {{sexo}}</p>
        </ion-card-content>
        <ion-button expand='block' margin (click)="goToBarcodeScan()">Click to scan a barcode</ion-button>
    </ion-card>

</ion-content> -->